[defaults]
# インベントリのデフォルトパス
inventory = /ansible/inventory/hosts

# ロール検索パス
roles_path = /ansible/roles

# Vaultパスワードファイル(平文 → AES256で復号)
vault_password_file = /ansible/.vault_pass.txt

# リモートホスト関連
remote_tmp = /tmp/.ansible/tmp
ansible_python_interpreter = /usr/bin/python3

# 表示設定
stdout_callback = default
deprecation_warnings = false
